---
- name: Wait a maximum of 30 minutes for DNS to resolve {{ domain_name }}
  wait_for:
    timeout: 1800
    host: "{{ domain_name }}"
    port: 22
    delay: 10
    search_regex: OpenSSH

- name: Generate SSL certificate
  become: true
  command: |
    certbot certonly \
    --noninteractive \
    --agree-tos \
    --standalone \
    --preferred-challenges http-01 \
    --rsa-key-size 4096 \
    --renew-by-default \
    --email {{ email }} \
    -d {{ domain_name }} \
    -d app.{{ domain_name }}
  args:
    creates: "/etc/letsencrypt/live/{{ domain_name }}"
